aiohttp
aria2p
async_generator
asyncurban
bs4
cowpy
dnspython
emoji
gitpython
google-api-python-client
google-auth-oauthlib
google_images_download
googletrans
gTTS
gTTS-token
hachoir
heroku3
httplib2
humanize
lxml
oauth2client
Pillow
psycopg2
psycopg2-binary
pybase64
pylast
pySmartDL
python-barcode
python-dotenv
pytz
qrcode
requests
search-engine-parser
speedtest-cli
sqlalchemy
telethon
telethon-session-sqlalchemy
tgcrypto
wikipedia
youtube-dl

