Pillow
PyGithub
aiofiles
aiohttp
aria2p
cryptg
async_generator
beautifulsoup4
bs4
bwb
cfscrape
bash
#var
coffeehouse
show
instantmusic
covid
telethon
gsearch
pyfiglet
pymongo
python-magic
pytube
regex
selenium
telegraph
asyncurban
urbandict
wikipedia
cowpy
cffi
dnspython
emoji
gitpython
google-api-python-client
google-auth-oauthlib
googletrans
google_images_download
gTTS
gTTS-token
eyed3
hachoir
heroku
heroku3
httplib2
humanize
lxml
lyricsgenius
oauth2client
psycopg2
psycopg2-binary
pybase64
pyfiglet
pylast
pySmartDL
python-barcode
python-dotenv
youtube-dl
pytz
qrcode
requests
search-engine-parser
speedtest-cli
sqlalchemy
python-dateutil
spamwatch
virustotal_python
youtube-search-python
